<!DOCTYPE html>
<html>
<head>
    <title>Input Form</title>
</head>
<body>
    <form action="/models/randomforest" method="post">
        {% csrf_token %}
        <label for="Fishing municipality (code)">Fishing municipality (code):</label>
        <input type="text" id="Fishing municipality (code)" name="Fishing municipality (code)"><br><br>
        
        <label for="Crew">Crew:</label>
        <input type="text" id="Crew" name="Crew"><br><br>
        
        <label for="Ship municipality (code)">Ship municipality (code):</label>
        <input type="text" id="Ship municipality (code)" name="Ship municipality (code)"><br><br>

        
        <label for="Vessel county (code)">Vessel county (code):</label>
        <input type="text" id="Vessel county (code)" name="Vessel county (code)"><br><br>

        
        <label for="Greatest length">Greatest length:</label>
        <input type="text" id="Greatest length" name="Greatest length"><br><br>

        
        <label for="Year of construction">Year of construction:</label>
        <input type="text" id="Year of construction" name="Year of construction"><br><br>

        
        <label for="Engine power">Engine power:</label>
        <input type="text" id="Engine power" name="Engine power"><br><br>

        
        <label for="Year of engine construction">Year of engine construction:</label>
        <input type="text" id="Year of engine construction" name="Year of engine construction"><br><br>

        
        <label for="Quota type (code)">Quota type (code):</label>
        <input type="text" id="Quota type (code)" name="Quota type (code)"><br><br>

        
        <label for="Tool - group (code)">Tool - group (code):</label>
        <input type="text" id="Tool - group (code)" name="Tool - group (code)"><br><br>

        
        <label for="Tools - main group (code)">Tools - main group (code):</label>
        <input type="text" id="Tools - main group (code)" name="Tools - main group (code)"><br><br>

        
        <label for="Coast/ocean (code)">Coast/ocean (code):</label>
        <input type="text" id="Coast/ocean (code)" name="Coast/ocean (code)"><br><br>

        
        <label for="Lon (location)">Lon (location):</label>
        <input type="text" id="Lon (location)" name="Lon (location)"><br><br>

        
        <label for="Lat (location)">Lat (location):</label>
        <input type="text" id="Lat (location)" name="Lat (location)"><br><br>

        
        <label for="Landing month (code)">Landing month (code):</label>
        <input type="text" id="Landing month (code)" name="Landing month (code)"><br><br>

        
        <label for="Preservation method (code)">Preservation method (code):</label>
        <input type="text" id="Preservation method (code)" name="Preservation method (code)"><br><br>

        
        <label for="Quality (code)">Quality (code):</label>
        <input type="text" id="Quality (code)" name="Quality (code)"><br><br>

        
        <label for="Application (code)">Application (code):</label>
        <input type="text" id="Application (code)" name="Application (code)"><br><br>

        
        <label for="Product weight">Product weight:</label>
        <input type="text" id="Product weight" name="Product weight"><br><br>

        
        <label for="Ship age">Ship age:</label>
        <input type="text" id="Ship age" name="Ship age"><br><br>

        <label for="Zone (code)">Zone (code):</label>

        <select id="Zone (code)" name="Zone (code)">
        <option value="NOR">NOR</option>
        <option value="XSV">XSV</option>
        <option value="GBR">GBR</option>
        <option value="RUS">RUS</option>
        <option value="XEU">XEU</option>
        <option value="FRO">FRO</option>
        <option value="GRL">GRL</option>
        </select>
        
        <input type="submit" value="Submit">
    </form>
</body>
</html>