{% load static %}
<!DOCTYPE html>

<html data-bs-theme="dark">
  <head>
    <title>Norway Fishery</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link rel="stylesheet" href="{% static 'main.css' %}" />
    <link rel="stylesheet" href="{% static 'fontawesome-all.min.css' %}" />
    <noscript
      ><link rel="stylesheet" href="{% static 'noscript.css' %}"
    /></noscript>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      integrity="sha512-..."
      crossorigin="anonymous"
    />
    <link
      type="text/css"
      rel="stylesheet"
      href="{% static 'bootstrap/css/bootstrap.min.css' %}"
      media="screen,projection"
    />
    <link
      rel="stylesheet"
      href="{% static 'leaflet/leaflet.css' %}"
      integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
      crossorigin=""
    />
    <link rel="stylesheet" href="{% static 'style.css'%}" />
  </head>
  <body class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper">
      <!-- Header -->
      <header id="header">
        <div
          class="logo"
          style="display: flex; justify-content: center; align-items: center"
        >
          <i class="fas fa-fish" style="color: white; font-size: 48px"></i>
        </div>
        <div class="content">
          <div class="inner">
            <h1>Norway Fisheries</h1>
            <p style="color: white">
              Designed to predict species that can be found for given parameters
              using Machine learning.
            </p>
            <p style="color: white">
              Designed to predict tools to be taken for given conditions using
              Machine learning.
            </p>
          </div>
        </div>
        <nav>
          <ul>
            <li style="width: 400px">
              <a href="#species" class="text-white">Species predictor</a>
            </li>
            <li style="width: 400px">
              <a href="#tools" class="text-white">Tools recommendor</a>
            </li>
            <li style="width: 400px">
              <a href="#stats" class="text-white">Statistics</a>
            </li>
          </ul>
        </nav>
      </header>

      <!-- Main -->
      <div id="main">
        <!-- species -->
        <!-- species -->
        <article id="species" style="height: auto">
          <div class="container-fluid bg-dark text-white" data-bs-theme="dark">
            <form id="speciesForm">
              {% csrf_token %}
              <div class="card container text-center bg-dark text-white">
                <h3 class="m-4">Choose your next fishing spot on the map</h3>
                <div class="row text-center" style="display:none" id="mapLatLng">
                  <div class="col-12">Latitude: <span id="latitude1"></span>, Longitude: <span id="longitude1"></span></div>
                </div>
                <div
                  class="row gx-3 m-2"
                  style="
                    display: flex;
                    align-items: center;
                    justify-content: center;
                  "
                >
                  <div class="container" id="map-container">
                    <div id="map" class="center-align"></div>
                  </div>
                </div>

                <div
                  class="row gx-3"
                  style="
                    display: flex;
                    align-items: center;
                    justify-content: center;
                  "
                >
                  <div class="col-4">
                    <div class="pt-3 align-middle">
                      When are you planning the fishing expedition?
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="p-3 form-floating">
                      <select
                        required
                        class="form-select"
                        id="Landing month (code)"
                        name="Landing month (code)"
                      >
                        <option value="" disabled selected>Choose...</option>
                        {% for month in months %}
                        <option value="{{ month.code }}">
                          {{ month.name }}
                        </option>
                        {% endfor %}
                      </select>
                      <label for="Landing month (code)">Month</label>
                    </div>
                  </div>
                </div>

                <div class="row gx-3" style="justify-content: center">
                  <hr style="width: 75%" />
                </div>

                <div class="container">
                  <h4>Municipality Details</h4>

                  <div
                    class="row gx-3 text-center"
                    style="
                      display: flex;
                      align-items: center;
                      justify-content: center;
                    "
                  >
                    <div class="col-4">
                      <div class="p-3 form-floating">
                        <select
                          required
                          class="form-select"
                          id="Fishing municipality (code)"
                          name="Fishing municipality (code)"
                        >
                          <option value="" disabled selected>
                            Choose your municipality
                          </option>
                          {% for fm in fm_list %}
                          <option value="{{ fm }}">{{ fm }}</option>
                          {% endfor %}
                        </select>
                        <label for="Fishing municipality (code)"
                          >Fishing Municipality Code</label
                        >
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="p-3 form-floating">
                        <select
                          class="form-select"
                          name="Vessel county (code)"
                          id="Vessel county (code)"
                          required
                        >
                          <option value="" disabled selected>
                            Choose your vessel county (code)
                          </option>
                          {% for vc in vc_list %}
                          <option value="{{ vc }}">{{ vc }}</option>
                          {% endfor %}
                        </select>
                        <label for="Vessel county (code)"
                          >Vessel County Code</label
                        >
                      </div>
                    </div>
                  </div>

                  <div
                    class="row gx-3 text-center"
                    style="
                      display: flex;
                      align-items: center;
                      justify-content: center;
                    "
                  >
                    <div class="col-4">
                      <div class="p-3 form-floating">
                        <select
                          class="form-select"
                          name="Quota type (code)"
                          id="Quota type (code)"
                          required
                        >
                          <option value="" disabled selected>
                            Select fishing quota
                          </option>
                          {% for qc, qc_text in qc_list.items %}
                          <option value="{{ qc }}">{{ qc_text }}</option>
                          {% endfor %}
                        </select>
                        <label for="Quota type (code)">Fishing Quota</label>
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="p-3 form-floating">
                        <select
                          class="form-select"
                          name="Zone (code)"
                          id="Zone (code)"
                          required
                        >
                          <option value="" disabled selected>
                            Select zone code
                          </option>
                          {% for zone in zone_list %}
                          <option value="{{ zone }}">{{ zone }}</option>
                          {% endfor %}
                        </select>
                        <label for="Zone (code)">Select zone code</label>
                      </div>
                    </div>
                  </div>

                  <div
                    class="row gx-3 text-center"
                    style="
                      display: flex;
                      align-items: center;
                      justify-content: center;
                    "
                  >
                    <div class="col-4">
                      <div class="p-3 form-floating">
                        <h5>What is the purpose of the fishing expedition?</h5>
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="p-3 form-floating">
                        <select
                          class="form-select"
                          name="Application (code)"
                          id="Application (code)"
                          required
                        >
                          <option value="appCode" disabled selected>
                            Select purpose of fishing
                          </option>
                          {% for ac, ac_name in ac_list.items %}
                          <option value="{{ ac }}">{{ ac_name }}</option>
                          {% endfor %}
                        </select>
                        <label for="Application (code)" id="Application (code)"
                          >Purpose of fishing</label
                        >
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row gx-2 pt-3" style="justify-content: center">
                  <hr style="width: 75%" />
                </div>

                <div class="container">
                  <h4>Ship Details</h4>

                  <div
                    class="row gx-3 text-center"
                    style="
                      display: flex;
                      align-items: center;
                      justify-content: center;
                    "
                  >
                    <div class="col-4">
                      <div class="mb-3">
                        <input
                          required
                          type="number"
                          name="Year of construction"
                          class="form-control"
                          id="Year of construction"
                          placeholder="Enter year"
                          type="number"
                          min="1923"
                          max="2023"
                        />
                        <label for="Year of construction"
                          >Ship Construction Year (1923-2023)</label
                        >
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="p-3 form-floating">
                        <div class="mb-3">
                          <input
                            required
                            type="number"
                            name="Year of engine construction"
                            class="form-control"
                            id="Year of engine construction"
                            placeholder="Enter year"
                            type="number"
                            min="1955"
                            max="2023"
                          />
                          <label for="Year of engine construction"
                            >Engine Construction Year (1955-2023)</label
                          >
                        </div>
                      </div>
                    </div>
                  </div>

                  <div
                    class="row gx-3 text-center"
                    style="
                      display: flex;
                      align-items: center;
                      justify-content: center;
                    "
                  >
                    <div class="col-4">
                      <label for="Crew" class="form-label"
                        >Crew size: <span id="Crew-value">5</span></label
                      >
                      <input
                        required
                        type="range"
                        class="form-range"
                        min="1"
                        max="44"
                        value="1"
                        step="1"
                        id="Crew"
                        name="Crew"
                      />
                    </div>
                    <div class="col-4">
                      <label for="Greatest length" class="form-label"
                        >Ship Length:
                        <span id="ship-length">5</span> meters</label
                      >
                      <input
                        required
                        type="range"
                        class="form-range"
                        min="6"
                        max="88"
                        value="6"
                        step="0.5"
                        id="sl_slider"
                        name="Greatest length"
                      />
                    </div>
                  </div>

                  <div
                    class="row gx-3 text-center"
                    style="
                      display: flex;
                      align-items: center;
                      justify-content: center;
                    "
                  >
                    <div class="col-4">
                      <label for="Product weight" class="form-label"
                        >Expected Weight of catch:
                        <span id="product-weight">10</span> kg</label
                      >
                      <input
                        required
                        type="range"
                        class="form-range"
                        min="10"
                        max="882146"
                        value="10"
                        step="1"
                        id="pw_slider"
                        name="Product weight"
                      />
                    </div>
                    <div class="col-4">
                      <label for="Engine power" class="form-label"
                        >Engine Power:
                        <span id="engine-power">10</span> HP</label
                      >
                      <input
                        required
                        type="range"
                        class="form-range"
                        min="10"
                        max="10000"
                        value="20"
                        step="10"
                        id="ep_slider"
                        name="Engine power"
                      />
                    </div>
                  </div>

                  <div
                    class="row gx-3 mt-4 text-center"
                    style="
                      display: flex;
                      align-items: center;
                      justify-content: center;
                    "
                  >
                    <div class="col-4">
                      <h5>
                        Are you planning to fish within 8 meters from the coast?
                      </h5>
                    </div>
                    <div class="col-4">
                      <input
                        type="radio"
                        class="btn-check"
                        name="Coast/ocean (code)"
                        id="option5"
                        autocomplete="off"
                        checked
                        value="coast"
                      />
                      <label class="btn" for="option5">Yes</label>

                      <input
                        type="radio"
                        class="btn-check"
                        name="Coast/ocean (code)"
                        id="option6"
                        autocomplete="off"
                        value="ocean"
                      />
                      <label class="btn" for="option6">No</label>
                    </div>
                  </div>

                  <div
                    class="row gx-3 mt-4 text-center"
                    style="
                      display: flex;
                      align-items: center;
                      justify-content: center;
                    "
                  >
                    <div
                      id="locationError"
                      style="display: none"
                      class="col-6 alert alert-danger gx-3"
                      role="alert"
                    >
                      Please select a fishing spot in the above map !
                    </div>
                  </div>

                  <div class="gx-3 m-3 p-3 col-12">
                    <button class="btn btn-primary" type="submit">
                      Find Possible Species
                    </button>
                  </div>
                </div>
              </div>
            </form>

            <div
              class="card container pt-4 mt-4"
              id="predictContainer"
              style="display: none"
            >
              <div class="text-center mb-4">
                <h3>Species predicted to be caught for each tool group</h3>
              </div>
              <div
                class="card-columns row card-deck"
                id="predictionCards"
              ></div>
            </div>
          </div>
        </article>

        <!-- tool -->
        <article id="tools" style="height: auto">
          <div class="container-fluid bg-dark text-white">
            <form id="toolsForm">
              {% csrf_token %}
              <div class="card container text-center">
                <h3 class="m-4">Choose your next fishing spot on the map</h3>
                <div class="row text-center" style="display:none" id="mapLatLng2">
                  <div class="col-12">Latitude: <span id="latitude2"></span>, Longitude: <span id="longitude2"></span></div>
                </div>
                <div
                  class="row gx-3 m-2"
                  style="
                    display: flex;
                    align-items: center;
                    justify-content: center;
                  "
                >
                  <div class="container" id="map-container2">
                    <div id="map2" class="center-align"></div>
                  </div>
                </div>

                <div
                  class="row gx-3"
                  style="
                    display: flex;
                    align-items: center;
                    justify-content: center;
                  "
                >
                  <div class="col-4">
                    <div class="pt-3 align-middle">
                      When are you planning the fishing expedition?
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="p-3 form-floating">
                      <select
                        required
                        class="form-select"
                        id="Landing month (code)"
                        name="Landing month (code)"
                      >
                        <option value="" disabled selected>Choose...</option>
                        {% for month in months %}
                        <option value="{{ month.code }}">
                          {{ month.name }}
                        </option>
                        {% endfor %}
                      </select>
                      <label for="Landing month (code)">Month</label>
                    </div>
                  </div>
                </div>

                <div class="row gx-2 pt-3" style="justify-content: center">
                  <hr style="width: 75%" />
                </div>

                <div class="container">
                  <h4>Ship Details</h4>

                  <div
                    class="row gx-3 text-center"
                    style="
                      display: flex;
                      align-items: center;
                      justify-content: center;
                    "
                  >
                    <div class="col-4">
                      <div class="mb-3">
                        <input
                          required
                          type="number"
                          name="Year of construction"
                          class="form-control"
                          id="Year of construction"
                          placeholder="Enter year"
                          type="number"
                          min="1923"
                          max="2023"
                        />
                        <label for="Year of construction"
                          >Ship Construction Year (1923-2023)</label
                        >
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="p-3">
                        <div class="mb-3">
                          <input
                            required
                            type="number"
                            name="Year of engine construction"
                            class="form-control"
                            id="Year of engine construction"
                            placeholder="Enter year"
                            type="number"
                            min="1955"
                            max="2023"
                          />
                          <label for="Year of engine construction"
                            >Engine Construction Year (1955-2023)</label
                          >
                        </div>
                      </div>
                    </div>
                  </div>

                  <div
                    class="row gx-3 text-center"
                    style="
                      display: flex;
                      align-items: center;
                      justify-content: center;
                    "
                  >
                    <div class="col-3">
                      <label for="Crew" class="form-label"
                        >Crew size: <span id="Crew-value2">5</span></label
                      >
                      <input
                        required
                        type="range"
                        class="form-range"
                        min="1"
                        max="44"
                        value="1"
                        step="1"
                        id="Crew2"
                        name="Crew"
                      />
                    </div>
                    <div class="col-3">
                      <label for="Greatest length" class="form-label"
                        >Ship Length:
                        <span id="ship-length2">5</span> meters</label
                      >
                      <input
                        required
                        type="range"
                        class="form-range"
                        min="6"
                        max="88"
                        value="6"
                        step="0.5"
                        id="sl_slider2"
                        name="Greatest length"
                      />
                    </div>

                    <div class="col-3">
                      <label for="Engine power" class="form-label"
                        >Engine Power:
                        <span id="engine-power2">10</span> HP</label
                      >
                      <input
                        required
                        type="range"
                        class="form-range"
                        min="10"
                        max="10000"
                        value="20"
                        step="10"
                        id="ep_slider2"
                        name="Engine power"
                      />
                    </div>
                  </div>

                  <div class="row gx-2 pt-3" style="justify-content: center">
                    <hr style="width: 75%" />
                  </div>

                  <div class="row gx-2 pt-3" style="justify-content: center">
                    <div class="col-4">
                      <div class="pt-3 align-middle">
                        What fish species are you interested in?
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="p-3 form-floating">
                        <select
                          required
                          class="form-select"
                          id="speciesCode"
                          name="speciesCode"
                        >
                          <option value="" disabled selected>Choose...</option>
                          {% for sp_code, sp_name in species_list.items %}
                          <option value="{{ sp_code }}">{{ sp_name }}</option>
                          {% endfor %}
                        </select>
                        <label for="speciesCode">Month</label>
                      </div>
                    </div>
                  </div>

                  <div
                    class="row gx-3 mt-4 text-center"
                    style="
                      display: flex;
                      align-items: center;
                      justify-content: center;
                    "
                  >
                    <div
                      id="locationError2"
                      style="display: none"
                      class="col-6 alert alert-danger gx-3"
                      role="alert"
                    >
                      Please select a fishing spot in the above map !
                    </div>
                  </div>

                  <div class="gx-3 m-3 p-3 col-12">
                    <button class="btn btn-primary" type="submit">
                      Find the right tool
                    </button>
                  </div>

                  <div
                    class="row gx-3 m-3 p-3"
                    style="
                      display: flex;
                      align-items: center;
                      justify-content: center;
                    "
                    id="predictionCards2"
                  ></div>
                </div>
              </div>
            </form>

            <div
              class="card container pt-4 mt-4"
              style="display: none"
              id="suggestionContainer"
            >
              <div class="text-center">
                <h4>Tools suggestion for other frequently caught species:</h4>
              </div>
              <div
                class="card-columns row card-deck"
                id="suggestionCards"
                style="display: flex; justify-content: center"
              ></div>
            </div>
          </div>
        </article>

        <article id="stats" style="height: auto">
          <div class="card container-fluid bg-dark text-white text-center p-3">
            <div class"row p-3">
              <h3>Statistics</h3>
            </div>
            <div class"row gx-3 p-3" style="padding-top:50px">
              <h5>Zone-wise product weight caught</h5>
            </div>
            <div class"row gx-3 p-3">
              <img src="{% static 'zone_wise_product_weight.png'%}" class=" rounded img-fluid" alt="..." style="height:500px">
            </div>
            <div class"row gx-3 p-3 mt-3" style="padding-top:50px">
              <h5>Top 5 species caught per month</h5>
            </div>
            <div class"row gx-3 p-3 mt-3">
              <img src="{% static 'top_5_species.png'%}" class=" rounded img-fluid" alt="..." style="height:500px">
            </div>
            <div class"row gx-3 p-3" style="padding-top:50px">
              <h5>feature importance using PCA</h5>
            </div>
            <div class"row gx-3 p-3">
              <img src="{% static 'feature_imp.png'%}" class=" rounded img-fluid" alt="..." style="height:500px">
            </div>
            <div class"row gx-3 p-3" style="padding-top:50px">
              <h5>K versus Accuracy for fine-tuning KNN Model</h5>
            </div>
            <div class"row gx-3 p-3">
              <img src="{% static 'k_versus_accuracy.png'%}" class=" rounded img-fluid" alt="..." style="height:500px">
            </div>
          </div>
        </article>
      </div>

      <!-- Footer -->
      <footer id="footer">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <p style="color: #bbb">Sridhara, Halkurike Narasimha Swamy</p>
            </div>
            <div class="col-md-4">
              <p style="color: #bbb">Kushwanth, Parameshwaraiah</p>
            </div>
            <div class="col-md-4">
              <p style="color: #bbb">Rakshith Kumar, Narasimha Murty</p>
            </div>
          </div>
        </div>
      </footer>
    </div>

    <!-- BG -->
    <div id="bg"></div>

    <!-- Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script
      type="text/javascript"
      src="{% static 'bootstrap/js/bootstrap.min.js' %}"
    ></script>
    <script
      type="text/javascript"
      src="{% static 'leaflet/leaflet.js' %}"
    ></script>
    <script type="text/javascript" src="{% static 'home.js' %}"></script>
    <script>
      var map2 = L.map("map2", {
        center: [65.472, 8.4689],
        zoom: 4.2,
        maxZoom: 4.2,
        minZoom: 4.2,
        dragging: false, // Disable dragging
      });
      var map = L.map("map", {
        center: [65.472, 8.4689],
        zoom: 4.2,
        maxZoom: 4.2,
        minZoom: 4.2,
        dragging: false, // Disable dragging
      });
      L.tileLayer("https://tile.openstreetmap.org/{z}/{x}/{y}.png", {
        attribution:
          '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
      }).addTo(map);
      L.tileLayer("https://tile.openstreetmap.org/{z}/{x}/{y}.png", {
        attribution:
          '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
      }).addTo(map2);

      var locMarker = null;
      var locMarker2 = null;
      map.on("click", (e) => {
        console.log(e.latlng);
        if (locMarker == null) {
          locMarker = L.marker(e.latlng).addTo(map);
          document.getElementById("mapLatLng").style.display = "block";
          document.getElementById("latitude1").textContent = e.latlng.lat.toFixed(6);
          document.getElementById("longitude1").textContent = e.latlng.lng.toFixed(6);
        } else {
          locMarker.setLatLng(e.latlng);
          document.getElementById("latitude1").textContent = e.latlng.lat.toFixed(6);
          document.getElementById("longitude1").textContent = e.latlng.lng.toFixed(6);
        }
      });
      map2.on("click", (e) => {
        console.log(e.latlng);
        if (locMarker2 == null) {
          locMarker2 = L.marker(e.latlng).addTo(map2);
          document.getElementById("mapLatLng2").style.display = "block";
          document.getElementById("latitude2").textContent = e.latlng.lat.toFixed(6);
          document.getElementById("longitude2").textContent = e.latlng.lng.toFixed(6);
        } else {
          locMarker2.setLatLng(e.latlng);
          document.getElementById("latitude2").textContent = e.latlng.lat.toFixed(6);
          document.getElementById("longitude2").textContent = e.latlng.lng.toFixed(6);
        }
      });
      // Function to get CSRF cookie
      function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== "") {
          const cookies = document.cookie.split(";");
          for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === name + "=") {
              cookieValue = decodeURIComponent(
                cookie.substring(name.length + 1)
              );
              break;
            }
          }
        }
        return cookieValue;
      }
    </script>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/browser.min.js'%}"></script>
    <script src="{% static 'js/breakpoints.min.js'%}"></script>
    <script src="{% static 'js/util.js'%}"></script>
    <script src="{% static 'js/main.js'%}"></script>
  </body>
</html>
